*{
  box-sizing: border-box;
}

header{
  margin: 2rem 0rem;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}

div {
  display: inline-block;
}

header h1{
  font-family: 'Yellowtail', cursive;
  font-size: 2.25rem;
}

header h2{
  font-family: 'Montserrat', sans-serif;
}

header ul{
  display: flex;
  /* flex-direction:column-reverse; */
  /* align-items: center; */
  list-style: none;
  margin: 2rem 0rem;
  display: inline-block;
  /* width: 100%; */
}

header ul li{
  padding: .1rem;
}

main img{
  width: 100%;
  height: auto;
}

body{
  margin: 0 auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

h3{
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
}

h4{
  font-family: 'Oswald', sans-serif;
  color:grey;
}

footer{
  border-image:url("../img/hr-img.png");

  background-repeat:repeat-x;
  background-size: .5;
  width: 100%
}

